<head>

  <meta charset="UTF-8">
</head>
<body>
  <main id="app">
    <h1>Visualizador mágico de información OSC</h1>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
  <style>
    * {
      background:#1c1c1c;
      font-family: 'monospace';
      color: white;
    }

    main {
      margin: 0 auto;
      width:75%;
    }

    h1 {
      text-align: center;
    }

    canvas {
      border: 1px solid white;
      margin: 20px;
    }

  </style>
  <script src='full/sketch.js'></script>
</body>
