<head>

  <meta charset="UTF-8">
</head>
<body>
  <main id="app">
    <h1>Visualizador mágico de información OSC™</h1>
    <div id="ui">
      <p>Seleccioná el modo de visualización y después la ruta que querés escuchar. Luego, apretá aceptar.</p>
    </div>
    <div id="container">
    </div>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
  <style>
    * {
      background:#1c1c1c;
      font-family: monospace;
      color: white;
    }

    main {
      margin: 0 auto;
      width:75%;
    }

    h1 {
      text-align: center;
    }

    #container {
      width:100%;
      text-align:center;
      margin-top:5%;
    }

    canvas {
      border: 1px solid white;
      display: inline;
    }

    #ui{
      width:75%;
      text-align: center;
      margin:0 auto;
      padding: 10px;
      border: 1px solid white;
      display:flex;
    }

    #ui > *{
      margin: 4px;
      padding: 4px;
    }

  </style>
  <script src='sketch.js'></script>
</body>
